<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        Declares permission for internet access.
        Required for networking tasks such as API calls.
     -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".closet.main.MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_closet_organiser"
        android:roundIcon="@mipmap/ic_closet_organiser"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--
            Activity for viewing details of a specific clothing item.
            @name: .views.clothing.ClothingView
            @exported: true - can be launched from outside the app.
         -->
        <activity
            android:name=".views.clothing.ClothingView"
            android:exported="true" />

        <!--
            Main launcher activity.
            This is the entry point when the app is started.
            @name: .views.clothingList.ClothingListView
            @intent-filter: Registers the activity to handle MAIN action and LAUNCHER category.
         -->
        <activity
            android:name=".views.clothingList.ClothingListView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            Activity displaying the main dashboard or home view.
            @name: .views.main.MainView
         -->
        <activity
            android:name=".views.main.MainView"
            android:exported="true" />

        <!--
            Activity for viewing and managing outfits.
            @name: .views.outfit.OutfitView
         -->
        <activity
            android:name=".views.outfit.OutfitView"
            android:exported="true" />

        <!--
            Activity for adding a new outfit.
            @name: .views.addOutfit.AddOutfitView
         -->
        <activity
            android:name=".views.addOutfit.AddOutfitView"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!--
            Activity for selecting clothing items, likely for building outfits.
            @name: .activities.SelectClothingActivity
         -->
        <activity
            android:name=".activities.SelectClothingActivity"
            android:exported="true" />

    </application>

</manifest>
